<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success page</title>
</head>
<body>
    registered successfully!
    <p>Thank you for registering, {{ name }}!</p>
    <p>You have registered for the sport: {{ sport }}.</p>
    <img src="https://64.media.tumblr.com/26b6027ac62fe83ee6561d6173d5c049/438d25b9cb8e22d2-94/s400x600/f8a673ef2ed4fd2380f205e99977bb9ab8c807fb.gif" alt="">
    <a href="/">Go back to registration</a>
</body>
</html>